annotated-types==0.6.0
asgiref==3.7.2
Django==5.0.3
django-logging-middleware==0.1.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
loguru==0.7.2
psycopg==3.1.18
pydantic==2.6.3
pydantic-settings==2.2.1
pydantic_core==2.16.3
PyJWT==2.8.0
python-dotenv==1.0.1
pytz==2024.1
sqlparse==0.4.4
typing_extensions==4.10.0
